<!DOCTYPE html>
<html>

<head>
  <style>
    body {
      text-align: center;
    }

    form {
      display: inline-block;
    }

    .manadatory {
      color: red;
    }
  </style>

</head>

<body>

  <h2>Add Student</h2>
  <div>
    <form action="/insertStudent" method="post" style="border:black; border-width:2px; border-style:solid;padding: 20px;">

      <label for="name">Name:<span class="manadatory">*</span></label>
      <input type="text" id="name" name="name" value="" required><br>
      <br>
      <label for="age">Age:<span class="manadatory">*</span></label>&nbsp;&nbsp;
      <input type="number" id="age" name="age" value="" required><br>
      <br>
      <label for="gender">Gender: <span class="manadatory">*</span></label>&nbsp;&nbsp;&nbsp;&nbsp;
      <input type="radio" id="male" name="gender" value="male" checked>
      <label for="male">Male</label>
      <input type="radio" id="female" name="gender" value="female">
      <label for="female">Female</label>
      <br></br></br>
      <button>Submit</button>
    </form>

  </div>
</body>

</html>