<!DOCTYPE html>
<html>

<head>
  <style>
    body {
      text-align: center;
    }
  </style>
</head>

<body>
  <h1> RECORD NOT FOUND!</h1>
  <button>
    <a class="addbtn" href="/addStudent">Add new record </a>
  </button>
  <div>
  </div>
</body>

</html>